/* Radius of the buttons */
.rd-button-size-m.rd-button-with-icon.rd-button-with-text{
    border-radius: .5rem !important; 
    border: 2px solid green;
}

/* Viz Header Text */
.bk-title-description .bk-title-section .bk-title {
   font-color: blue;
   font-family: monospace;
   text-transform: uppercase;
}

/* Viz chart background */
.bk-pinboard-data-viz .bk-pinboard-viz-content {
    background-color: #00FFFF;
}

/* Sets the style for the main navbar. */
.bk-primary-nav-menu {
  color: yellow !important;
  background-color: red; !important;
}

/* Sets the style for the entire search bar. */
.sage-search-bar-module__sageSearchBar {
    color:orange;
    background-color: blue;
}

/* Sets the style for the text entry form in the search bar */
.sage-search-box-module__bkSageTextContent {
    font-family:monospace;
    text-transform: uppercase;
}
