/* Font-family */

@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://cdn.jsdelivr.net/gh/testdevts/customcss@latest/myfont.swoff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

*:not(.find-widget.visible div) {
  font-family: "Dancing Script" !important;
}
/* Radius of the buttons */
.rd-button-size-m.rd-button-with-icon.rd-button-with-text{
    border-radius: .5rem !important; 
    border: 2px solid green;
}

/* Viz Header Text */
.bk-title-description .bk-title-section .bk-title {
   font-color: blue;
   font-family: monospace;
   text-transform: uppercase;
}

/* Viz chart background */
.bk-pinboard-data-viz .bk-pinboard-viz-content {
    background-color: #00FFFF;
}

/* Sets the style for the main navbar. */
.bk-primary-nav-menu {
  color: yellow !important;
  background-color: red; !important;
}

/* Sets the style for the entire search bar. */
.sage-search-bar-module__sageSearchBar {
    font-family:monospace;
}

/* Sets the style for the text entry form in the search bar */
.sage-search-box-module__bkSageTextContent {
    color:orange;
    text-transform: uppercase;
}

/* Sets the style for the entire search bar, in Search embed. */
._sageSearchBar_11o1k_109 {
    font-family:monospace;
    color:orange;
    text-transform: uppercase;
}
