/* Radius of the buttons */
.rd-button-size-m.rd-button-with-icon.rd-button-with-text{
    border-radius: .05rem;
    border: 2px solid black;
}

.rd-button {
  background-color:  yellow;
}



/* Viz Header Text */
.bk-title-description .bk-title-section .bk-title {
   font-color: blue;
   font-family: monospace;
   text-transform: uppercase;
}

/* Example from the doc. Sets the color of buttons, such as the "Go" button.*/
.button-module__primary { 
  background-color: #FF0000 !important; 
}

/* Sets the style for the main navbar. */
.bk-primary-nav-menu {
  color: yellow !important;
  background-color: red; !important;
}
