/* Radius of the buttons */
.rd-button-size-m.rd-button-with-icon.rd-button-with-text{
    border-radius: .05rem;
    border: 2px solid green;
}

/* Viz Header Text */
.bk-title-description .bk-title-section .bk-title {
   font-color: blue;
   font-family: monospace;
   text-transform: uppercase;
}

/* Sets the style for the main navbar. */
.bk-primary-nav-menu {
  color: yellow !important;
  background-color: red; !important;
}

/* Set button radius
.button-module__buttonWithText { 
  border-radius: .05rem !important; 
}

.rd-button-with-text { 
  border-radius: .05rem !important; 
}
*/
