/**************************************/
/***** Customizing visualizations *****/
/**************************************/

/* Viz Header text: Color, Font, and Text Format */
.bk-title-description .bk-title-section .bk-title {
   font-color: blue;
   font-family: monospace;
   text-transform: uppercase;
}

/* Viz border radius */
/* TBD */

/* Viz background color */
.bk-pinboard-data-viz .bk-pinboard-viz-content {
    background-color: #00FFFF;
}

/**************************************/
/******** Customizing buttons *********/
/**************************************/

/* Radius of the buttons */
.rd-button-size-m.rd-button-with-icon.rd-button-with-text{
    border-radius: .5rem !important; 
    border: 2px solid green;
}

/* Buttons color */
/* TBD */

/* Buttons text: Color, Font, and Text Format */
/* TBD */
